# Main directories and files
/data/
.env

# Backend (Node.js)
backend/node_modules/
backend/dist/
backend/data/
backend/.env

# Frontend (e.g., React / Vite / Angular)
frontend/node_modules/
frontend/dist/

# System and OS files
.DS_Store
Thumbs.db